*{margin: 0;padding: 0;box-sizing: border-box;}
body{font-family: 'Whitney',Helvetica Neue,Helvetica,Arial,sans-serif;}
.clearfix{content: '';display: table;clear: both;}
/*
                    HEADER
*/

#site_header{
    background-image: url(./img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 630px;
}

/*
                    NAVBAR
*/
#navbar{
    position: relative;
    margin: 0 auto;
    width: 1260px;
    height: 80px;
    text-align: center;
    padding: 30px 0px;
}
/*
        LEFT NAVBAR
*/
.logo_container{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
}
/*
        CENTER NAVBAR
*/
#navigation{
    display: inline;
    vertical-align: middle;
}
#navigation > a{
    color: #fff;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
}
#navigation > a:hover{
    text-decoration: underline;
}
/*
        RIGHT NAVBAR
*/
#login{
    display: inline;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}
#login > a{
    background-color: #fff;
    color: black;
    font-size: 14px;
    padding: 10px 18px;
    border-radius: 40px;
    text-decoration: none;
}
#login > a:hover, .header_buttons > a:hover{
    box-shadow: 0px 2px 7px 0px black;
}

/*
                HEADER CONTAINER
*/
#header_container{
    width: 1260px;
    height: 550px;
    text-align: center;
    margin: 0 auto;
}
#items_container{
    color: #fff;
    width: 780px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#items_container > h1{
    font-size: 56px;
}
#items_container > p{
    margin-top: 40px;
    font-size: 20px;
    line-height: 1.6;
}

/*
        HEADER BOTTONS
*/
.header_buttons{
    margin-top: 40px;
}
.header_buttons > a{
    padding: 16px 32px;
    font-size: 20px;
}
#download{
    background-color: #fff;
    color: black;
    margin-right: 50px;
}
#open{
    background-color: black;
    color: #fff;
}
.header_buttons > a{
    font-size: 20px;
    padding: 17px 30px;
    border-radius: 40px;
    text-decoration: none;
}
#download:hover{
    color: blue;
    transition-duration: 0.5s;
}
#open:hover{
    background-color: rgb(36, 36, 36); 
    transition-duration:  0.5s;
}

/*
                    MAIN
*/
main  p{
    margin-top: 24px;
    font-size: 20px;
    line-height: 1.6;
}

.container{
    width: 1260px;
    height: 680px;
    margin: 0 auto;
    position: relative;
}
.section_container{
    width: 1260px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0 24px;
}
.img_side{
    width: 680px;
}
.description_side{
    width: 350px;
}
.description_side > h2{
    font-size: 48px;
}

/*
        FOURTH SECTION
*/
.fsc_container{
    width: 1260px;
    height: 1100px;
    margin: 0 auto;
    position: relative;
}
.fsc_text{
    width: 980px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
}
.fsc_text > h2{
    font-size: 40px;
}
.fsc_text > h3{
    font-size: 32px;
}
.central_image{text-align: center;}

.fsc_button{
    background-color: #5865f2;
    color: #fff;
    display: inline-block;
    margin-top: 40px;
}
.fsc_button:hover, #button_footer:hover{background-color: #7289da; transition-duration: 0.5s;}

/*
        SECTIONS
*/
#first_section{background-color: #fff;}
#first_section_img{ float: left;}
#first_section_description_side{float: right;}

#second_section{background-color: #F6F6F6;}
#second_section_img{ float: right;}
#second_section_description_side{float: left;}

#third_section{background-color: #fff;}
#third_section_img{ float: left;}
#third_section_description_side{float: right;}

#fourth_section{background-color: #F6F6F6;}

/*
                    FOOTER
*/

footer{
    background-color: #23272A;
    color: #fff;
    height: 665px;
}
.float_left{
    position: relative;
    float: left;
}
/*
        LEFT SIDE FOOTER
*/
#left_side_footer{
    width: 280px;
}
#left_side_footer > h3{
    color: #5865f2;
    font-size: 32px;
}

#country, #social{
    margin-top: 24px;
}
#country > img{
    width: 24px;
}
#country > div{
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    margin-left: 5px;
}

#social  a{
    color: #fff;
    font-size: 24px;
    margin-right: 20px;
}

/*
        RIGHT SIDE FOOTER
*/
#right_side_footer{
    margin-left: 80px;
}
#right_side_footer h3{
    color: #5865f2;
}
#right_side_footer  a{
    color: #fff;
    text-decoration: none;

}
#right_side_footer  a:hover{
    text-decoration: underline;
}
#right_side_footer li{
    position: relative;
    list-style-type: none;
    margin: 7px;
    padding: 5px;
    left: -11px;
}

.box{
    width: 220px;
}
#footer_container{
    margin: 0 auto ;
    width: 1260px;
    padding-top: 80px;
}

#bottom_side_footer{
    width: 1260px;
    border-top: 1px solid #5865f2;
    margin-top: 40px;
    padding-top: 40px;
}

#logo_footer{
    position: relative;
    float: left;
}

#button_footer{
    background-color: #5865f2;
    color: #fff;
    position: relative;
    float: right;
    padding: 16px 32px;
    font-size: 20px;
    border-radius: 40px;
    text-decoration: none;
}
#button_footer:hover{
    background-color: #7289da;
}