*{margin: 0;padding: 0;box-sizing: border-box;}
body{font-family: 'Whitney',Helvetica Neue,Helvetica,Arial,sans-serif;}
.clearfix{content: '';display: table;clear: both;}
/*
                    HEADER
*/

#site_header{
    background-image: url(./img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 630px;
}

/*
                    NAVBAR
*/
#navbar{
    position: relative;
    margin: 0 auto;
    width: 1260px;
    height: 80px;
    text-align: center;
    padding: 30px 0px;
}
/*
        LEFT NAVBAR
*/
#logo_container{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}
/*
        CENTER NAVBAR
*/
#navigation{
    display: inline;
    vertical-align: middle;
}
#navigation > a{
    color: #fff;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
}
#navigation > a:hover{
    text-decoration: underline;
}
/*
        RIGHT NAVBAR
*/
#login{
    display: inline;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}
#login > a{
    background-color: #fff;
    color: black;
    font-size: 14px;
    padding: 10px 18px;
    border-radius: 40px;
    text-decoration: none;
}
#login > a:hover, #header_bottons > a:hover{
    box-shadow: 0px 2px 7px 0px black;
}

/*
                HEADER CONTAINER
*/
#header_container{
    width: 1260px;
    height: 550px;
    text-align: center;
    margin: 0 auto;
}
#items_container{
    color: #fff;
    width: 780px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#items_container > h1{
    font-size: 56px;
}
#items_container > p{
    margin-top: 40px;
    font-size: 20px;
    line-height: 1.6;
}

/*
        HEADER BOTTONS
*/
#header_bottons{
    margin-top: 40px;
}
#header_bottons > a{
    padding: 16px 32px;
    font-size: 20px;
}
#download{
    background-color: #fff;
    color: black;
    margin-right: 50px;
}
#open{
    background-color: black;
    color: #fff;
}
#header_bottons > a{
    font-size: 20px;
    padding: 17px 30px;
    border-radius: 40px;
    text-decoration: none;
}
#download:hover{
    color: blue;
}
#open:hover{
    background-color: rgb(36, 36, 36); 
    transition-duration:  0.5s;
}

/*
                    MAIN
*/

.container{
    width: 1260px;
    height: 680px;
    margin: 0 auto;
    position: relative;
}
.section_container{
    width: 1260px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0 24px;
}
.img_side{
    width: 680px;
}
.description_side{
    width: 350px;
}
.description_side > h2{
    font-size: 48px;
}
.description_side > p{
    margin-top: 24px;
    font-size: 20px;
    line-height: 1.6;
}
#first_section{background-color: #fff;}
#first_section_img{ float: left;}
#first_section_description_side{float: right;}

#second_section{background-color: gray;}
#second_section_img{ float: right;}
#second_section_description_side{float: left;}